/* ===========================
   ESTILO GENERAL DE LA PÁGINA
=========================== */

.motogp-page {
    background: linear-gradient(180deg, #1a1a1a, #2b0000);
    color: #fff;
    font-family: Arial, sans-serif;
}

/* ===========================
   SECCIÓN SUPERIOR
=========================== */

.game-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
    gap: 40px;
}

.game-top-left img {
    width: 500px;
    border-radius: 12px;
    border: 3px solid #ff1a1a;
}

.game-top-right h1 {
    font-size: 42px;
    color: #ff1a1a;
}

.game-top-right p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
}

/* Botón comprar */
.btn-orange {
    background: #ff1a1a;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-orange:hover {
    background: #cc0000;
}

/* ===========================
   VIDEOS
=========================== */

.game-video-section {
    text-align: center;
    margin: 40px 0;
}

.game-video-section h2 {
    color: #ff1a1a;
    margin-bottom: 15px;
}

.game-video {
    width: 60%;
    border-radius: 12px;
    border: 3px solid #ff1a1a;
}

/* VIDEO 2 más pequeño */
.game-video.small {
    width: 60%;
    border-radius: 12px;
    border: 3px solid #ff1a1a;
}

/* ===========================
   GALERÍA
=========================== */

.game-gallery {
    text-align: center;
    padding: 40px 0;
}

.carousel-container {
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    padding-bottom: 25px;
}

.carousel-track {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.carousel-item img {
    width: auto;
    height: 450px;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid #ff1a1a;
}

/* ===========================
   PRECIO
=========================== */

.precio-box {
    background: #1a1a1a;
    border: 2px solid #ff1a1a;
    padding: 25px;
    width: 350px;
    margin: 40px auto;
    border-radius: 12px;
    text-align: center;
}

.compra-img {
    width: 100%;          /* tamaño elegante */
    max-width: 900px;    /* límite para que no se haga gigante */
    display: block;
    margin: 0 auto 15px auto; /* centrada */
    border-radius: 12px;
    border: 2px solid #ff1a1a;
    margin-bottom: 15px;
}

.btn-comprar-final {
    background: #ff1a1a;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-comprar-final:hover {
    background: #cc0000;
}
